<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
    <title>Appointments</title>
    <link rel="stylesheet" href="css/appointments.css" />
  </head>
  <body>
    <div id="hiddenData" style="display: none">
      <span id="username" data-value="<%= username %>"></span>
    </div>
    <%- include('partials/header') %>
    <div class="content-box">
      <div class="row">
        <% if (accountType === "Trainer"){ %>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title">Your Posted Appointments</h2>

              <p id="appointmentError" class="text-danger hidden" style="margin-bottom: 1rem"></p>
              <div class="d-grid gap-2" style="margin-bottom: 1rem">
                <button id="create-appointment-button" class="btn btn-primary rounded-pill" type="button" data-bs-toggle="modal" data-bs-target="#createAppointment">Create Appointment</button>
              </div>
              <div class="accordion" id="availableAppointments">
                <% for (let i = 0; i < myAvailableAppointments.length; i++) { %> <% const curAppointment = myAvailableAppointments[i]%>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%=curAppointment.appointmentid%>" aria-expanded="true" aria-controls="collapse<%=curAppointment.appointmentid%>"><%=curAppointment.appointmentname%></button>
                  </h2>
                  <div id="collapse<%=curAppointment.appointmentid%>" class="accordion-collapse collapse" data-bs-parent="#availableAppointments">
                    <div class="accordion-body">
                      <div>Date: <%=curAppointment.date.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' })%></div>
                      <div>Start Time: <%=((curAppointment.starttime.substring(0, 2) % 12 == 0) ? 12 : (curAppointment.starttime.substring(0, 2) % 12)) + ":" + curAppointment.starttime.substring(3, 5) + (curAppointment.starttime.substring(0, 2) >= 12 ? " PM" : " AM")%></div>
                      <div>End Time: <%=((curAppointment.endtime.substring(0, 2) % 12 == 0) ? 12 : (curAppointment.endtime.substring(0, 2) % 12)) + ":" + curAppointment.endtime.substring(3, 5) + (curAppointment.endtime.substring(0, 2) >= 12 ? " PM" : " AM")%></div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-danger delete-appointment" onclick="handleDeleteAppointment(event)">Delete Appointment</button>
                      </div>
                    </div>
                  </div>
                </div>
                <% } %>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="createAppointment" tabindex="-1" aria-labelledby="createAppointment" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Appointment Details</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="mb-3">
                  <label for="appointmentTitle" class="form-label">Appointment Title</label>
                  <input type="text" class="form-control" id="appointmentTitle" name="appointmentTitle" />
                </div>
                <div class="mb-3">
                  <label for="appointmentDate" class="form-label">Appointment Date</label>
                  <input type="date" class="form-control" id="appointmentDate" name="appointmentDate" min="<%= (new Date()).toISOString().split('T')[0] %>" />
                </div>
                <div class="mb-3">
                  <label for="appointmentStartingTime" class="form-label">Appointment Starting Time</label>
                  <input type="time" class="form-control" id="appointmentStartingTime" name="appointmentStartingTime" />
                </div>
                <div class="mb-3">
                  <label for="appointmentEndingTime" class="form-label">Appointment Ending Time</label>
                  <input type="time" class="form-control" id="appointmentEndingTime" name="appointmentEndingTime" />
                </div>
                <p id="appointmentCreateError" class="text-danger hidden"></p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="submitAppointment">Create Appointment</button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title">Booked Appointments</h2>
              <div class="accordion" id="bookedAppointments">
                <% for (let i = 0; i < bookedAppointments.length; i++) { const curAppointment = bookedAppointments[i]%>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%=curAppointment.appointmentid%>" aria-expanded="true" aria-controls="collapse<%=curAppointment.appointmentid%>"><%=curAppointment.appointmentname%></button>
                  </h2>
                  <div id="collapse<%=curAppointment.appointmentid%>" class="accordion-collapse collapse" data-bs-parent="#bookedAppointments">
                    <div class="accordion-body">
                      <div>Date: <%=curAppointment.date.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' })%></div>
                      <div>Start Time: <%=((curAppointment.starttime.substring(0, 2) % 12 == 0) ? 12 : (curAppointment.starttime.substring(0, 2) % 12)) + ":" + curAppointment.starttime.substring(3, 5) + (curAppointment.starttime.substring(0, 2) >= 12 ? " PM" : " AM")%></div>
                      <div>End Time: <%=((curAppointment.endtime.substring(0, 2) % 12 == 0) ? 12 : (curAppointment.endtime.substring(0, 2) % 12)) + ":" + curAppointment.endtime.substring(3, 5) + (curAppointment.endtime.substring(0, 2) >= 12 ? " PM" : " AM")%></div>
                      <div>Member Name: <%=curAppointment.firstname%> <%=curAppointment.lastname%></div>
                    </div>
                  </div>
                </div>
                <% } %>
              </div>
            </div>
          </div>
        </div>
        <script src="js/appointmentTrainer.js"></script>
        <% } %> <% if (accountType === "Member"){ %>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title">Available Appointments</h2>

              <p id="bookingError" class="text-danger hidden" style="margin-bottom: 1rem"></p>
              <div class="accordion" id="availableAppointments">
                <% for (let i = 0; i < availableAppointments.length; i++) { const curAppointment = availableAppointments[i]%>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%=curAppointment.appointmentid%>" aria-expanded="true" aria-controls="collapse<%=curAppointment.appointmentid%>"><%=curAppointment.appointmentname%></button>
                  </h2>
                  <div id="collapse<%=curAppointment.appointmentid%>" class="accordion-collapse collapse" data-bs-parent="#availableAppointments">
                    <div class="accordion-body">
                      <div>Date: <%=curAppointment.date.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' })%></div>
                      <div>Start Time: <%=((curAppointment.starttime.substring(0, 2) % 12 == 0) ? 12 : (curAppointment.starttime.substring(0, 2) % 12)) + ":" + curAppointment.starttime.substring(3, 5) + (curAppointment.starttime.substring(0, 2) >= 12 ? " PM" : " AM")%></div>
                      <div>End Time: <%=((curAppointment.endtime.substring(0, 2) % 12 == 0) ? 12 : (curAppointment.endtime.substring(0, 2) % 12)) + ":" + curAppointment.endtime.substring(3, 5) + (curAppointment.endtime.substring(0, 2) >= 12 ? " PM" : " AM")%></div>
                      <div>Trainer Name: <%=curAppointment.firstname%> <%=curAppointment.lastname%></div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-success delete-appointment" onclick="handleBookAppointment(event)">Book Appointment</button>
                      </div>
                    </div>
                  </div>
                </div>
                <% } %>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title">Booked Appointments</h2>
              <div class="accordion" id="bookedAppointments">
                <% for (let i = 0; i < bookedAppointments.length; i++) { const curAppointment = bookedAppointments[i]%>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%=curAppointment.appointmentid%>" aria-expanded="true" aria-controls="collapse<%=curAppointment.appointmentid%>"><%=curAppointment.appointmentname%></button>
                  </h2>
                  <div id="collapse<%=curAppointment.appointmentid%>" class="accordion-collapse collapse" data-bs-parent="#bookedAppointments">
                    <div class="accordion-body">
                      <div>Date: <%=curAppointment.date.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' })%></div>
                      <div>Start Time: <%=((curAppointment.starttime.substring(0, 2) % 12 == 0) ? 12 : (curAppointment.starttime.substring(0, 2) % 12)) + ":" + curAppointment.starttime.substring(3, 5) + (curAppointment.starttime.substring(0, 2) >= 12 ? " PM" : " AM")%></div>
                      <div>End Time: <%=((curAppointment.endtime.substring(0, 2) % 12 == 0) ? 12 : (curAppointment.endtime.substring(0, 2) % 12)) + ":" + curAppointment.endtime.substring(3, 5) + (curAppointment.endtime.substring(0, 2) >= 12 ? " PM" : " AM")%></div>
                      <div>Trainer Name: <%=curAppointment.firstname%> <%=curAppointment.lastname%></div>
                      <div class="modal-footer">
                        <% if (!curAppointment.paid) { %>
                        <button type="button" class="btn btn-success pay" onclick="handlePayAppointment(event)" style="margin-right: 0.5rem">Pay for Appointment</button>
                        <button type="button" class="btn btn-danger delete-appointment" onclick="handleCancelAppointment(event)">Cancel Appointment</button>
                        <% } %>
                      </div>
                    </div>
                  </div>
                </div>
                <% } %>
              </div>
            </div>
          </div>
        </div>
        <script src="js/appointmentMember.js"></script>
        <% } %> <% if (accountType === "Admin") { %>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title">Booked Appointments</h2>
              <div class="accordion" id="appointments">
                <% for (let i = 0; i < appointments.length; i++) { const curAppointment = appointments[i]%>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%=curAppointment.appointmentid%>" aria-expanded="true" aria-controls="collapse<%=curAppointment.appointmentid%>"><%=curAppointment.appointmentname%></button>
                  </h2>
                  <div id="collapse<%=curAppointment.appointmentid%>" class="accordion-collapse collapse" data-bs-parent="#appointments">
                    <div class="accordion-body">
                      <div>Date: <%=curAppointment.date.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' })%></div>
                      <div>Start Time: <%=((curAppointment.starttime.substring(0, 2) % 12 == 0) ? 12 : (curAppointment.starttime.substring(0, 2) % 12)) + ":" + curAppointment.starttime.substring(3, 5) + (curAppointment.starttime.substring(0, 2) >= 12 ? " PM" : " AM")%></div>
                      <div>End Time: <%=((curAppointment.endtime.substring(0, 2) % 12 == 0) ? 12 : (curAppointment.endtime.substring(0, 2) % 12)) + ":" + curAppointment.endtime.substring(3, 5) + (curAppointment.endtime.substring(0, 2) >= 12 ? " PM" : " AM")%></div>
                      <div>Trainer Username: <%=curAppointment.trainerusername%></div>
                      <div>Member Username: <%=curAppointment.memberusername%></div>
                      <div>Paid: <%=curAppointment.paid ? "Paid" : "Not Paid"%></div>
                      <% if (!curAppointment.paid && ((new Date()) > curAppointment.date)) { %>
                      <div class="text-danger">Payment is Overdue.</div>
                      <% } %>
                    </div>
                  </div>
                </div>
                <% } %>
              </div>
            </div>
          </div>
        </div>
        <% } %>
      </div>
    </div>
    <script src="js/accountInfo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>
